/* CSS de base */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway";
  font-size: 1.05em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: color 0.5s ease-out 50ms;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
  transition: color 0.5s ease-out 50ms;
}

/* Header (Logo, navigation) */

header {
  margin-top: -5px;
  height: auto;
  width: 100%;
}

#navigation {
  margin-bottom: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 1340px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

@media (max-width: 1500px) {
  #navigation {
    width: 1200px;
  }
}

@media (max-width: 1300px) {
  #navigation {
    width: 1000px;
  }
}

.clear {
  clear: left;
}

#logo {
  width: 25%;
  height: 100%;
  background-image: url(images/logo/Reservia.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  float: left;
  margin-right: 30%;
}

#logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.bouton_menu {
  display: inline-flex;
  height: 100%;
  width: 25%;
  align-items: center;
  text-align: center;
  min-width: 140px;
}

.bouton_menu a {
  display: inline-block;
  width: 100%;
  align-self: center;
  color: black;
}

.bouton_menu a:hover {
  display: inline-block;
  width: 100%;
  align-self: center;
  color: blue;
}

#page_active {
  border-top: solid 4px blue;
}

#sign_up a {
  color: #1261d6;
  font-weight: bolder;
}

/* Header téléphone */

@media (max-width: 540px) {
  header {
    height: auto;
    padding: 0;
  }

  #navigation {
    height: 150px;
    width: 100%;
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-bottom: 2%;
  }

  #navigation div {
    width: 50%;
    height: 50%;
  }

  .bouton_menu {
    align-items: center;
    text-align: center;
    margin-top: -5px;
    order: 2;
    height: 50%;
  }

  #logo {
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    height: 75px;
    background-position: center;
    background-size: 80%;
  }

  #sign_up {
    order: 1;
    padding-top: 5%;
  }

  #page_active {
    order: 2;
  }

  #bouton_activite {
    order: 3;
  }

  #page_active {
    border-top: none;
    border-bottom: solid 4px blue;
  }

  #boutton_activite {
    border-bottom: solid 4px #f2f2f2;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  header {
    height: auto;
    padding: 0;
  }

  #navigation {
    height: 150px;
    width: 100%;
    align-items: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    margin-bottom: 2%;
  }

  #navigation div {
    width: 50%;
    height: 50%;
  }

  .bouton_menu {
    align-items: center;
    text-align: center;
    margin-top: -5px;
    order: 2;
    height: 50%;
  }

  #logo {
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    height: 75px;
    background-position: center;
    background-size: 80%;
  }

  #sign_up {
    order: 1;
    padding-top: 2%;
  }

  #page_active {
    order: 2;
  }

  #bouton_activite {
    order: 3;
  }

  #page_active {
    border-top: none;
    border-bottom: solid 4px blue;
  }

  #boutton_activite {
    border-bottom: solid 4px #f2f2f2;
  }

  #logo {
    background-size: 50%;
  }
}

/* Conteneur corps de page */

#conteneur {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  width: 1340px;
  margin: 0 auto;
  margin-bottom: 5%;
}

@media (max-width: 1500px) {
  #conteneur {
    width: 1200px;
  }
}

@media (max-width: 1300px) {
  #conteneur {
    width: 1000px;
  }
}

@media (max-width: 540px) {
  #conteneur {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  #conteneur {
    width: 100%;
  }
}

/* Barre de recherche */

#recherche {
  margin-bottom: 3%;
  width: 100%;
}

#recherche * {
  margin-bottom: 2%;
}

#input_search {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 5%;
  align-items: center;
  text-align: center;
  border: none;
}

#input_search * {
  height: 100%;
  font-weight: bold;
}

#form_recherche input {
  width: 30%;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-top: solid 4px #f2f2f2;
  border-bottom: solid 4px #f2f2f2;
}

#form_recherche input:focus {
  outline: none;
}

#button_search {
  text-align: center;
  align-items: center;
  background: #0065fc;
  color: white;
  font-size: 17px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  vertical-align: middle;
  border: hidden;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#button_search p {
  width: 100%;
}

#button_search:active {
  background: #0057da;
}

#icone_search {
  float: left;
  color: black;
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 50px;
  text-align: center;
  float: left;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#loupe {
  display: none;
}

/* Recherche téléphone */

@media (max-width: 540px) {
  #recherche {
    margin-bottom: 5%;
    padding: 4% 5% 0 5%;
  }

  #form_recherche input {
    width: 80%;
    border: none;
    border-top: solid 4px #f2f2f2;
    border-bottom: solid 4px #f2f2f2;
    font-size: 0.8em;
  }

  #titre_recherche {
    margin-bottom: 10%;
  }

  #titre_recherche p {
    font-size: 0.8em;
  }

  #filtres {
    margin-bottom: 5%;
  }

  #filtres h4 {
    width: 100%;
    font-weight: bold;
    margin-bottom: 5%;
  }

  .filter {
    font-size: 0.7em;
  }

  #loupe {
    display: inline-block;
  }

  #rechercher {
    display: none;
  }

  #button_search {
    width: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 10%;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  #recherche {
    margin-bottom: 5%;
    padding: 4% 5% 0 5%;
  }

  #filtres h4 {
    width: 100%;
    font-weight: bold;
    margin-bottom: 2%;
  }

  #form_recherche input {
    width: 60%;
  }

  #titre_recherche {
    margin-bottom: 10%;
  }
}

/* Filtres */

#filtres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#filtres h4 {
  margin-right: 2%;
}

.filter {
  display: flex;
  padding-right: 20px;
  border: solid #f2f2f2 3px;
  border-radius: 50px;
  height: 55px;
  font-weight: bold;
  text-align: center;
  transition: border 0.5s ease-out 50ms;
  margin-right: 10px;
}

.filter:hover .icone {
  color: white;
  background-color: #0065fc;
  transition: background-color 0.5s ease-out 50ms;
}

.filter:hover {
  border: solid #c0c0c0 3px;
  transition: 0.5s ease-out 50ms;
  cursor: pointer;
}

.icone {
  display: inline-flex;
  margin: 0px;
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  text-align: center;
  float: left;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: border 0.5s ease-out 50ms;
  margin-left: -2%;
}

.filter p {
  align-items: center;
}

#filtres h4 {
  display: inline-flex;
  float: left;
  height: 100%;
  padding-top: 1%;
}

.filtre_text {
  display: inline-flex;
}

/* Nombre logements trouvé */

#nombre_logement {
  width: 100%;
  display: flex;
}

#info {
  display: inline-flex;
  color: blue;
  border: solid #f2f2f2 2px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

@media (max-width: 540px) {
  #nombre_logement p {
    text-align: left;
    font-size: 0.8em;
  }
}

/* Conteneur hébergements */

#hebergements {
  display: flex;
  width: 100%;
  height: 630px;
  align-self: flex-start;
  flex-direction: row;
}

@media (max-width: 540px) {
  #hebergements {
    display: flex;
    width: 100%;
    align-self: flex-start;
    flex-direction: column;
    height: auto;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  #hebergements {
    display: flex;
    width: 100%;
    align-self: flex-start;
    flex-direction: column;
    height: auto;
  }
}

/* Résultats de recherche */

#search_results {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 65.6%;
  border-radius: 20px;
  padding: 2%;
  box-sizing: border-box;
  order: 1;
  margin-right: 3%;
  height: 100%;
}

#hebergement_ville {
  height: 50px;
  font-size: 1.2em;
  margin-bottom: 20px;
}

#display_results {
  display: grid;
  width: 100%;
  height: 430px;
  border-radius: 10px;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(2, 48%);
  grid-column-gap: 3%;
  grid-row-gap: 4.7%;
  margin-bottom: 40px;
}

@media (max-width: 1300px) {
  #display_results {
    font-size: 0.9em;
  }
}

.minia_resultat {
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 0.5%;
  transition: box-shadow 0.5s ease-out 50ms;
}

.minia_resultat:hover {
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease-out 50ms;
}

.minia_resultat:last-of-type {
  margin-right: 0%;
}

.minia_image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.resultat_texte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 40%;
  font-size: 0.8em;
}

.minia_resultat p {
  margin-left: 5%;
  font-size: 0.9em;
}

#show_more {
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: color 0.5s ease-out 50ms;
}

#show_more:hover {
  color: blue;
  transition: color 0.5s ease-out 50ms;
}

@media (max-width: 540px) {
  #search_results {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 0;
    padding: 5%;
    box-sizing: border-box;
    order: 2;
    margin-right: 0px;
    height: auto;
  }

  #display_results {
    display: grid;
    width: 100%;
    height: auto;
    border-radius: 10px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 200px);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .minia_resultat {
    font-size: 1.1em;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  #search_results {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 0;
    padding: 5%;
    box-sizing: border-box;
    order: 2;
    margin-right: 0px;
    height: auto;
  }

  #display_results {
    display: grid;
    width: 100%;
    height: auto;
    border-radius: 10px;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(3, 300px);
    grid-column-gap: 3%;
    grid-row-gap: 20px;
    margin-bottom: 40px;
    font-size: 1.2em;
  }
}

/* Suggestions */

#suggestions {
  display: flex;
  flex-direction: column;
  width: 31.3%;
  height: 100%;
  flex-basis: auto;
  background-color: #f2f2f2;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2%;
  order: 2;
}

#suggestions_ville {
  font-size: 1.2em;
  height: 50px;
  margin-bottom: 20px;
}

#suggestions_ville h2 {
  display: inline-block;
  width: 90%;
}

#display_suggestions {
  display: grid;
  width: 100%;
  height: 80%;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(3, 30%);
  grid-row-gap: 5%;
}

.minia_suggestion {
  display: flex;
  flex-flow: row;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: visible;
  margin-bottom: 10%;
  padding: 5px;
  transition: box-shadow 0.5s ease-out 50ms;
}

.minia_suggestion:hover {
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease-out 50ms;
}

.minia_image_suggestion {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 30%;
  height: 100%;
  object-fit: cover;
  order: 1;
  margin-right: 5%;
}

.suggestion_text {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  order: 2;
  font-size: 0.7em;
  margin-right: 0px;
}

.note_hebergement {
  line-height: 2em;
}

@media (max-width: 540px) {
  #suggestions {
    width: 100%;
    flex-basis: auto;
    background-color: #f2f2f2;
    border-radius: 0px;
    padding: 5%;
    order: 1;
    padding-bottom: 10%;
    margin-bottom: 5%;
  }

  #display_suggestions {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, 150px);
    grid-row-gap: 10px;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  #suggestions {
    width: 100%;
    flex-basis: auto;
    background-color: #f2f2f2;
    border-radius: 0px;
    padding: 5%;
    order: 1;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  #display_suggestions {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(1, 200px);
    grid-row-gap: 5%;
    grid-column-gap: 3%;
  }

  .minia_suggestion {
    display: flex;
    flex-flow: column;
  }

  .minia_image_suggestion {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    order: 1;
    margin-bottom: 5%;
  }

  .suggestion_text {
    justify-content: space-between;
    width: 100%;
    order: 2;
    font-size: 0.6em;
    margin-right: 0px;
  }

  .fa-chart-line {
    font-size: 1.3em;
  }
}

/* Couleurs des étoiles */

.etoile_vide {
  color: #f2f2f2;
}

.etoile_pleine {
  color: #0065fc;
}

.nom_hebergement {
  font-weight: bolder;
}

/* Partie "Activités" */

#activites_ville {
  flex-basis: auto;
  align-self: flex-start;
  flex-shrink: 0;
  height: 600px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5%;
}

#activites {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 70%;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: flex-start;
  box-sizing: border-box;
  min-height: 500px;
}

.colonnes_activite {
  display: inline-block;
  width: 22%;
  height: 450px;
  box-sizing: border-box;
}

.lien_activite:last-of-type {
  margin-bottom: 0px;
}

.colonnes_activite:last-of-type {
  margin-right: 0%;
}

.minia_activite {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-sizing: border-box;
}

.minia_activite:last-of-type {
  margin-bottom: 0%;
}

.minia_image_activite {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  margin-bottom: 4%;
}



.nom_lieu {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bold;
  font-size: 0.8em;
}

#colonne1,
#colonne3 {
  height: 100%;
}

#colonne1 img,
#colonne3 img {
  height: 90%;
}

#pomegues {
  height: 240px;
  margin-bottom: 45px;
}

#frioul {
  height: 165px;
}

#frioul .minia_image_activite, #parc_longchamp .minia_image_activite, #notre_dame .minia_image_activite{
    margin-bottom:2%;
}

#notre_dame {
  height: 195px;
  margin-bottom: 40px;
}

#parc_longchamp {
  height: 215px;
}

@media (max-width: 1500px) {
    .minia_activite {
      font-size:0.95em;
    }

    #parc_longchamp .minia_image_activite, #notre_dame .minia_image_activite{
        margin-bottom:4%;
    }
    
  }
  


@media (max-width: 540px) {
  #activites_ville {
    flex-basis: auto;
    align-self: flex-start;
    flex-shrink: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5%;
    padding: 5% 2% 5% 2%;
  }

  #activites {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: flex-start;
    box-sizing: border-box;
  }

  .colonnes_activite {
    width: 100%;
    margin-bottom: 5%;
    height: auto;
    justify-content: flex-start;
  }

  .minia_activite {
    width: 100%;
    height: 200px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
  }

  #colonne1 img,
  #colonne3 img {
    height: 80%;
  }

  .minia_image_activite {
    margin-bottom: 2%;
  }

  #pomegues {
    height: 200px;
    margin-bottom: 5%;
  }

  #frioul {
    height: 200px;
  }

  #notre_dame {
    height: 200px;
    margin-bottom: 5%;
  }

  #parc_longchamp {
    height: 200px;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  #activites_ville {
    padding: 0 5%;
    height: auto;
  }

  #activites {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    align-items: center;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .colonnes_activite {
    width: 100%;
    margin-bottom: 5%;
    height: 300px;
    justify-content: flex-start;
  }

  #pomegues,
  #notre_dame {
    display: inline-block;
    height: 100%;
    margin-bottom: 0;
    width: 45%;
    margin-right: 8%;
  }

  #frioul,
  #parc_longchamp {
    display: inline-block;
    height: 100%;
    margin-bottom: 0;
    width: 45%;
    margin-right: 0%;
  }

  .minia_image_activite {
    height: 80%;
    object-fit: cover;
    margin-bottom: 2%;
  }

  #colonne1 img,
  #colonne3 img {
    height: 80%;
  }

  .nom_lieu {
    height: 20%;
    font-size:1em;
    
  }

}

/* Footer */

footer {
  clear: both;
  width: 100%;
  background-color: #f2f2f2;
  width: 100%;
  line-height: 2em;
  padding-bottom: 5%;
  padding-top: 2%;
}

#footer {
  display: flex;
  flex-direction: row;
  width: 1340px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1500px) {
  #footer {
    width: 1200px;
  }
  .div_footer a {
    font-size: 1em;
  }
}

@media (max-width: 1300px) {
  #footer {
    width: 1000px;
  }

  .div_footer a {
    font-size: 0.9em;
  }
}

@media (max-width: 540px) {
  #footer {
    width: 100%;
    padding: 5%;
  }
}

.div_footer {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
  margin-right: 2%;
}

.div_footer h3 {
  margin-bottom: 10%;
}

@media (max-width: 540px) {
  #footer {
    flex-direction: column;
    font-size: 0.9em;
  }

  .div_footer {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
  }

  .div_footer h3 {
    margin-bottom: 1%;
  }
}

@media (min-width: 541px) and (max-width: 1024px) {
  footer {
    clear: both;
    width: 100%;
    background-color: #f2f2f2;
    width: 100%;
    padding: 2% 5%;
    line-height: 2em;
  }

  #footer {
    width: 100%;
  }

  .div_footer {
    display: inline-flex;
    flex-direction: column;
    width: 33%;
    margin-right: 2%;
  }

  .lien_footer {
    font-size: 0.8em;
  }
}
