*{
    box-sizing: border-box;
    margin:0;
    padding:0 ;
    font-family: 'Raleway';
    min-width: 0;
    font-size: 1em;
    min-width: 0;
    min-height: 0;
    border:none;

}

html{
    height:100%;
    width:100%;
}

body{
    width:100%;
    height: 100%;
    min-width:0px;    
}

#conteneur{
    margin:0;
    width:100%;
    padding-left:0%;
    padding-right:0%;

}



/* Header : logo et liens */

header{
    height:100%;
    padding:0;
    
    
}

#navigation{
    height:20%;
    width:100%;
    align-items: center;
    display:flex;
    align-items:flex-start;
    flex-wrap: wrap;
    flex-direction:row;
    background-color:white;
    margin-bottom:2%;
}


#navigation div{
    width:50%;
    height:50%;
    

}


.bouton_menu{
 
    align-items:center;
    text-align:center;
    margin-top:-5px;
    order:2;
    height:50%;
    
    
}

#logo{
    min-width: 0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    height:75px;
    background-position: center;
    background-size: 80%;
    

}

#sign_up{
    order:1;
    padding-top:5%;
}

#page_active{
    order:2;
}

#bouton_activite{
    order:3;
}


#page_active{
    border-top: none;
    border-bottom: solid 4px blue;
}



/* Barre de recherche */


#rechercher{
    display:none;
}

#recherche{
    display:flex;
    width:100%;
    padding: 0;
    flex-direction: column;
    padding:5%;
    margin-bottom:0%;
    height:100%;
    max-height:670px;
}



#form_recherche{
    width:100%;
    margin-bottom:5%;
}

#recherche h2{
    width:90%;
    font-size: 1.4em;
    margin-bottom:5%;
}

#recherche p{
    text-align:left;
}

#input_search{
    display:flex;
    width:100%;
    height:50px;
    margin-bottom:5%;
    align-items: center;
    text-align: center;
    border:none;  
}

#input_search input{
    width:80%;
}


#button_search{
    float:left;
    text-align: center;
    align-items: center;
    background: #0065FC;
    color: white;
    font-size: 17px;
    cursor:pointer;
    width:15%;
    height:100%;
    text-align:center;
    vertical-align:middle;
    border: hidden;
    border-radius: 20%;  
    padding-left:2.5%;
    padding-right:2.5%;

}


#loupe{
    display:inline-flex;
    color:white;
}


/* Filtres */

#filtres{
    width:100%;
    display:flex;
    align-items:flex-start;
    flex-wrap: wrap;
    flex-direction:row;
    height:30%;
    
    margin-bottom:10%;
    max-height:210px;
    font-size:0.9em;
}

#filtres h4{
    width:100%;
    height:5%;
    font-size:1.2em;
    padding-top:0;
    margin-bottom:10%;
}

.filter{
    width:auto;
    height:25%;
    align-items: center;
    padding:0;
    margin:0;
    padding-right:5%;
    margin-right:2%;
}

.filtre_text{
    height:100%;
    padding:0;
}

.icone{
    margin-top:3px;
}

#nombre_logement{
    display:flex;
}


#conteneur{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    width:100%;
    height:100%;
}

#hebergements{
    display:flex;
    min-width:0;
    min-height:0;
    width:100%;
    height:200%;
    flex-direction:column;
}


#suggestions{
    width: 100%;
    height: 50%;
    background-color:#F2F2F2;
    box-sizing:border-box;
    margin:0;
    padding-top:5%;
    order:1;
    border-radius: 0;
    margin-bottom:5%;
}

.minia_suggestion{
    height:25%;
}




/* Résultats de recherche */

#search_results{ 
    display:flex;
    flex-direction:column;
    background-color:white;
    width: 100%;
    box-sizing:border-box;
    padding:0;
    height:200%;
    order:2;
}

#display_results{
    display:flex;
    flex-direction:column;
    width: 100%;
    margin-bottom:5%;
    height:100%;
}

.minia_resultat{
    box-sizing:border-box;
    background-color: white;
    width: 100%;
    height:15%;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .1) ;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom:3%;
    padding:0.5%;
    margin-right:3%;
    line-height:1.2em;
}

.minia_image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    height:60%;
    display:block;
    object-fit: cover;
    margin-bottom:2%;
}

.minia_resultat p{
    margin-left:5%;
    margin-bottom: 0;
    font-size: 100%;
}




footer{
    display:none;
    background-color:red;
}

